body {
    height:100%;
    margin:0;
    padding:0;
    width:100%;
    font-family: 'Roboto', sans-serif;
    background-color: #d5d5d5;
}
section {
    display: inline-block;
    padding: 0 50px;
}
ul {
    font-weight: 500;
}